## <div align="center"> LAB IS411 Data Modeling </div>
## <div align="center"> WEEK [03]: [Topic]</div>
#### <div align="center"> Even Semester 2023/2024 </div>
---

In [3]:
import datetime
import uuid

In [4]:
import datetime
import uuid

studentName = "Evangeline Suciadi"
studentNIM = "68887"
studentClass = "BL"

In [5]:
myDate = datetime.datetime.now()
myDevice = str(uuid.uuid1())

print("Name: \t\t{}".format(studentName))
print("NIM: \t\t{}".format(studentNIM))
print("Class: \t\t{}".format(studentClass))
print("Start: \t\t{}".format(myDate))
print("Device ID: \t{}".format(myDevice))

Name: 		Evangeline Suciadi
NIM: 		68887
Class: 		BL
Start: 		2024-02-16 09:44:35.601952
Device ID: 	521e4541-cc75-11ee-8ab7-a2b1c93acab5

---

## <div align="center"> Sub-title of Question (Sub-heading) </div>

### Enter Lab Code Here:

*(Give the number or each question, according to the module. If the question include a question, answer below your code with text or comment(s).)*

In [4]:
import pandas as pd

In [5]:
textdf = pd.read_csv('IMDB.csv')
textdf

                                                 review sentiment
0     One of the other reviewers has mentioned that ...  positive
1     A wonderful little production. <br /><br />The...  positive
2     I thought this was a wonderful way to spend ti...  positive
3     Basically there's a family where a little boy ...  negative
4     Petter Mattei's "Love in the Time of Money" is...  positive
...                                                 ...       ...
9995  Fun, entertaining movie about WWII German spy ...  positive
9996  Give me a break. How can anyone say that this ...  negative
9997  This movie is a bad movie. But after watching ...  negative
9998  This is a movie that was probably made to ente...  negative
9999  Smashing film about film-making. Shows the int...  positive

[10000 rows x 2 columns]

In [6]:
pattern = r'["\'!?\*,;<>/()]+'
textdf['review'] = textdf['review'].str.replace(pattern, '')

C:\Users\Student\AppData\Local\Temp\ipykernel_8344\1733232086.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  textdf['review'] = textdf['review'].str.replace(pattern, '')

In [7]:
textdf['review'] = textdf['review'].str.lower()

In [8]:
textdf

                                                 review sentiment
0     one of the other reviewers has mentioned that ...  positive
1     a wonderful little production. br br the filmi...  positive
2     i thought this was a wonderful way to spend ti...  positive
3     basically theres a family where a little boy j...  negative
4     petter matteis love in the time of money is a ...  positive
...                                                 ...       ...
9995  fun entertaining movie about wwii german spy j...  positive
9996  give me a break. how can anyone say that this ...  negative
9997  this movie is a bad movie. but after watching ...  negative
9998  this is a movie that was probably made to ente...  negative
9999  smashing film about film-making. shows the int...  positive

[10000 rows x 2 columns]

### WORD TOKENIZATION

In [9]:
import nltk
nltk.download('punkt')

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Student\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [10]:
from nltk.tokenize import word_tokenize

textdf['review'] = textdf['review'].apply(word_tokenize)

textdf

                                                 review sentiment
0     [one, of, the, other, reviewers, has, mentione...  positive
1     [a, wonderful, little, production, ., br, br, ...  positive
2     [i, thought, this, was, a, wonderful, way, to,...  positive
3     [basically, theres, a, family, where, a, littl...  negative
4     [petter, matteis, love, in, the, time, of, mon...  positive
...                                                 ...       ...
9995  [fun, entertaining, movie, about, wwii, german...  positive
9996  [give, me, a, break, ., how, can, anyone, say,...  negative
9997  [this, movie, is, a, bad, movie, ., but, after...  negative
9998  [this, is, a, movie, that, was, probably, made...  negative
9999  [smashing, film, about, film-making, ., shows,...  positive

[10000 rows x 2 columns]

### STOPWORD REMOVAL

In [11]:
from nltk.corpus import stopwords

In [12]:
stop_words = set(stopwords.words('english'))
textdf['review'] = textdf['review'].apply(lambda x:[word for word in x if word.lower() not in stop_words])
textdf['review']

0       [one, reviewers, mentioned, watching, 1, oz, e...
1       [wonderful, little, production, ., br, br, fil...
2       [thought, wonderful, way, spend, time, hot, su...
3       [basically, theres, family, little, boy, jake,...
4       [petter, matteis, love, time, money, visually,...
                              ...
9995    [fun, entertaining, movie, wwii, german, spy, ...
9996    [give, break, ., anyone, say, good, hockey, mo...
9997    [movie, bad, movie, ., watching, endless, seri...
9998    [movie, probably, made, entertain, middle, sch...
9999    [smashing, film, film-making, ., shows, intens...
Name: review, Length: 10000, dtype: object

In [13]:
customwords = {'br','oz','haha','lol'}

textdf['review'] = textdf['review'].apply(lambda x:[word for word in x if word.lower() not in stop_words])
textdf['review']

0       [one, reviewers, mentioned, watching, 1, oz, e...
1       [wonderful, little, production, ., br, br, fil...
2       [thought, wonderful, way, spend, time, hot, su...
3       [basically, theres, family, little, boy, jake,...
4       [petter, matteis, love, time, money, visually,...
                              ...
9995    [fun, entertaining, movie, wwii, german, spy, ...
9996    [give, break, ., anyone, say, good, hockey, mo...
9997    [movie, bad, movie, ., watching, endless, seri...
9998    [movie, probably, made, entertain, middle, sch...
9999    [smashing, film, film-making, ., shows, intens...
Name: review, Length: 10000, dtype: object

### Words Stemming

In [14]:
stemdf = textdf.copy()
from nltk.stem import SnowballStemmer, PorterStemmer

In [15]:
#Snowball Method
snowball_stemmer = SnowballStemmer('english')
stemdf['snowball'] = stemdf['review'].apply(lambda x: [snowball_stemmer.stem(word) for word in x])

#Porter Method
porter_stemmer = PorterStemmer()
stemdf['porter'] = stemdf['review'].apply(lambda x: [porter_stemmer.stem(word) for word in x])
stemdf

,review,sentiment,snowball,porter
0,"[one, reviewers, mentioned, watching, 1, oz, e...",positive,"[one, review, mention, watch, 1, oz, episod, y...","[one, review, mention, watch, 1, oz, episod, y..."
1,"[wonderful, little, production, ., br, br, fil...",positive,"[wonder, littl, product, ., br, br, film, tech...","[wonder, littl, product, ., br, br, film, tech..."
2,"[thought, wonderful, way, spend, time, hot, su...",positive,"[thought, wonder, way, spend, time, hot, summe...","[thought, wonder, way, spend, time, hot, summe..."
3,"[basically, theres, family, little, boy, jake,...",negative,"[basic, there, famili, littl, boy, jake, think...","[basic, there, famili, littl, boy, jake, think..."
4,"[petter, matteis, love, time, money, visually,...",positive,"[petter, mattei, love, time, money, visual, st...","[petter, mattei, love, time, money, visual, st..."
...,...,...,...,...
9995,"[fun, entertaining, movie, wwii, german, spy, ...",positive,"[fun, entertain, movi, wwii, german, spi, juli...","[fun, entertain, movi, wwii, german, spi, juli..."
9996,"[give, break, ., anyone, say, good, hockey, mo...",negative,"[give, break, ., anyon, say, good, hockey, mov...","[give, break, ., anyon, say, good, hockey, mov..."
9997,"[movie, bad, movie, ., watching, endless, seri...",negative,"[movi, bad, movi, ., watch, endless, seri, bad...","[movi, bad, movi, ., watch, endless, seri, bad..."
9998,"[movie, probably, made, entertain, middle, sch...",negative,"[movi, probabl, made, entertain, middl, school...","[movi, probabl, made, entertain, middl, school..."
9999,"[smashing, film, film-making, ., shows, intens...",positive,"[smash, film, film-mak, ., show, intens, stran...","[smash, film, film-mak, ., show, intens, stran..."

### WORD LEMMATIZATION

In [16]:
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Student\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [17]:
WNL = WordNetLemmatizer()

textdf['review'] = textdf['review'].apply(lambda tokens:' '.join([WNL.lemmatize(word) for word in tokens]))
textdf

                                              review sentiment
0  one reviewer mentioned watching 1 oz episode y...  positive
1  wonderful little production . br br filming te...  positive
2  thought wonderful way spend time hot summer we...  positive
3  basically there family little boy jake think t...  negative
4  petter matteis love time money visually stunni...  positive

### TEXT NORMALIZATION (Vectorization)

In [21]:
normalizedf = textdf.copy()
from sklearn.feature_extraction.text import TfidfVectorizer

tf_idf = TfidfVectorizer()
tf_idf_vector = tf_idf.fit_transform(normalizedf['review']) 

print(type(tf_idf_vector), tf_idf_vector.shape)

tf_idf_array = tf_idf_vector.toarray()
words_set = tf_idf.get_feature_names_out()

print(words_set)

df_tf_idf = pd.DataFrame(tf_idf_array, columns=words_set)
df_tf_idf

<class 'scipy.sparse.csr.csr_matrix'> (10000, 54431)
['00' '000' '0000110' ... 'Ã¼ber' 'Ã¼berwoman' 'Ã¼nfaithful']

,00,000,0000110,0069,007,007s,00am,00s,01,010,...,Ã©tc,Ãªtre,Ã­s,Ã­snt,Ã¯n,Ã³li,Ã¶nsjÃ¶n,Ã¼ber,Ã¼berwoman,Ã¼nfaithful
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### TEXT CLASSIFICATION

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import classification_report

In [24]:
# Split X and y for classifier
X = tf_idf_vector
y = normalizedf['sentiment']

# Train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# SVC Classifier
classifier = SVC(kernel='linear')
classifier.fit(X_train, y_train)

# Evaluate the model
y_pred = classifier.predict(X_test)
print('Classifier Report:')
print(classification_report(y_test, y_pred))

Classifier Report:
              precision    recall  f1-score   support

    negative       0.90      0.86      0.88       996
    positive       0.87      0.90      0.88      1004

    accuracy                           0.88      2000
   macro avg       0.88      0.88      0.88      2000
weighted avg       0.88      0.88      0.88      2000

----

## <div align="center"> Conclusion </div>

### Enter Your Conclusion Here:

----

In [1]:
studentName2 = "Evangeline Suciadi"
studentNIM2 = "68887"
studentClass2 = "BL"

In [2]:
print("Name: \t\t{}".format(studentName2))
print("NIM: \t\t{}".format(studentNIM2))
print("Class: \t\t{}".format(studentClass2))
print("End: \t\t{}".format(myDate))
print("Device ID: \t{}".format(myDevice))

Name: 		Evangeline Suciadi
NIM: 		68887
Class: 		BL

NameError: name 'myDate' is not defined

----

## <div align="center"> Reference </div>

### Input Your Reference Here  (Jika ada):

----